@font-face {
    font-family: 'Courier New PSMT';
    src: url('../fonts/courier/CourierNewPSMT.eot');
    src: url('../fonts/courier/CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/courier/CourierNewPSMT.woff2') format('woff2'),
        url('../fonts/courier/CourierNewPSMT.woff') format('woff'),
        url('../fonts/courier/CourierNewPSMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

